* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50;
}

button, .link-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
}

button:hover, .link-btn:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    margin-top: 30px;
}

input {
    border: #3498db;
    margin: 10px;
    padding: 10px 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.token-sender {
    display: flex;
    flex-direction: column;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    min-height: 100px;
}
