.about-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
	color: #3498db;
	font-size: 2em;
}

.about-content {
	font-size: 1.1em;
	line-height: 1.6;
	color: #555;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content img {
	max-width: 100%;
	border-radius: 8px;
	margin-top: 20px;
}

.back-button {
	margin-top: 20px;
	display: block;
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: #3498db;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.back-button:hover {
	background-color: #2980b9;
}
